@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap");
@import "tailwindcss";

@theme inline {
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #0024ee;
    --primary-hover: #001589;
  }
}

body {
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  font-weight: bold;
  cursor: pointer;
}

input:focus {
  outline: none;
}

h1,
h2,
h6 {
  font-weight: bold;
}

h1 {
  font-family: "Fredoka", sans-serif;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.5rem;
}
